.app-footer {
  width: 100%;
  background: var(--color-primary);
  border-top: 1px solid var(--color-border-subtle);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem 1.5rem;
  font-size: 0.8rem;
  color: var(--color-surface);
}

.footer-right {
  opacity: 0.9;
}
