.dialog {
  justify-self: center;
  padding: 15px;
  z-index: 5;
  position: relative;
  background-color: white;
  border-radius: 16px;
  border: 1px solid grey;
  width: 50dvh;
  max-height: 50dvh;
}
